---
import Link from './ui/link.astro';
import Container from "./Container.astro";
import Sectionhead from "../components/sectionhead.astro";
import Layout from "../layouts/Layout.astro";

---
  <Container>
  <Sectionhead>
    <Fragment slot="title">Sobre Nosotros</Fragment>
    <Fragment slot="desc">Quienes somos?</Fragment>
  </Sectionhead>
<section class="py-16 ">
  <div class="mx-auto max-w-4xl mt-2">
    <h2 class="font-medium text-2xl text-gray-800">Sobre Nosotros</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          VIMA Automation es líder en la venta de equipos de control y automatización para la industria. Con años de experiencia, ofrecemos soluciones innovadoras y de alta calidad para optimizar procesos industriales.
        </p>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Nuestro compromiso es proporcionar tecnología de vanguardia y un servicio excepcional a nuestros clientes, ayudándoles a mejorar su eficiencia y productividad.
        </p>
      </div>
      <div>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3963.7008766975873!2d-103.3445493!3d20.5831829!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428b2b063bd3341%3A0xaf2d311211cf00c5!2sDel%20Escultor%201440%2C%20Artesanos%2C%2045598%20San%20Pedro%20Tlaquepaque%2C%20Jal.!5e1!3m2!1ses-419!2smx!4v1724709698471!5m2!1ses-419!2smx"
          width="100%"
          height="300"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>
    </div>
  </div>
</section>
</Container>