---
import Contactform from "../components/contactform.astro";
import Container from "../components/Container.astro";
import Sectionhead from "../components/sectionhead.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Contáctanos</Fragment>
      <Fragment slot="desc">Estamos para servirte...</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">VIMA Automation</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Tienes algo que decirnos? Estamos para servirte. Llena nuestro formulario, envianos un email o llámanos a nuestro telefono
          También podrás encontrar nuestra dirección por si deseas visitarnos.
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-4 space-x-2 text-sky-500 hover:text-sky-700 py-2 hover:underline transition delay-150 duration-300 ease-in-out">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd" />
            </svg>
            <a href="https://maps.app.goo.gl/AASPnVGDz97XbFTK6" target="_blank">Del Escultor 1440, Col. Artesanos, Tlaquepaque, Jal. CP. 45690</a>
          </div>
          <div class="flex items-center mt-4 space-x-2 text-sky-500 hover:text-sky-700 py-2 hover:underline transition delay-150 duration-300 ease-in-out">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
              <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
              <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
            </svg>
            <a
              href="mailto:Vima-automation_facturas@outlook.com?subject=Contacto a traves de tu pagina web- VIMA Automation"
              target="_blank"
            >Vima-automation_facturas@outlook.com</a>
          </div>
          <div class="flex items-center mt-4 space-x-2  text-sky-500 hover:text-sky-700 py-2 hover:underline transition delay-150 duration-300 ease-in-out">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
              <path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z" />
            </svg>
            <a href="tel:+52 (33) 1011 8084">+52 (33) 1011 8084</a>
          </div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>