<footer class='my-20  w-full z-50 bg-gray-800 shadow-md py-4'>
  <p class='text-center text-sm text-gray-400'>
    Copyright © {new Date().getFullYear()} VIMA Automation. All rights reserved.
  </p>
  <p class='text-center text-xs text-gray-400 mt-1'>
    Made by <a
      href='https://vima-automation.store/'
      target='_blank'
      rel='noopener'
      class='hover:underline'
    >
      VIMA Automation
    </a>
  </p>
</footer>
