---
import { Image } from 'astro:assets';
import Link from '../components/ui/link.astro';
import heroBackground1 from '../assets/hero-background.jpg';
import heroBackground2 from '../assets/hero-background2.jpg';
import heroBackground3 from '../assets/hero-background3.jpg';
import MercadoLibre from '../components/ui/icons/MercadoLibre.astro';
---

<section class="relative w-full h-screen flex items-center justify-center overflow-hidden">
  <div class="absolute inset-0 z-0">
    <div class="slider" id="slider">
      <Image src={heroBackground1} alt="Industrial automation background 1" class="slide" />
      <Image src={heroBackground2} alt="Industrial automation background 2" class="slide" />
      <Image src={heroBackground3} alt="Industrial automation background 3" class="slide" />
    </div>
    <div class="absolute inset-0 bg-black opacity-80"></div>
  </div>

  <div class="relative z-10 text-center text-zinc-100 max-w-4xl mx-auto px-4">
    <h1 class="text-5xl md:text-6xl lg:text-7xl font-extrabold mb-6 text-white drop-shadow-[0_2px_2px_rgba(64,64,64,1)] animate-title" aria-label="Equipo de control y automatización para la industria - Vima Automation">
      Equipo de control y <span class="text-sky-400">automatización</span> para la industria
    </h1>
    <p class="text-xl md:text-2xl text-zinc-300  mb-8 text-shadow">
      Somos líderes en ventas de equipo de control y automatización
    </p>
    <div class="flex flex-col sm:flex-row gap-4 justify-center px-5">
      <Link
        href="https://listado.mercadolibre.com.mx/_CustId_1236439?item_id=MLM1769038908&category_id=MLM189736&seller_id=1236439&client=recoview-selleritems&recos_listing=true#origin=upp&component=sellerData&typeSeller=classic"
        target="_blank"
        size="lg"
        style="primary"
        class="flex items-center justify-center shadow-md hover:shadow-lg font-bold px-6 py-3 "
        rel="noopener noreferrer"
      >
        <MercadoLibre class="w-8 h-8 mr-2" />
        <span>Comprar en Mercado Libre</span>
      </Link>
      <Link
        href="#"
        size="lg"
        style="secondary"
        class="flex items-center justify-center shadow-md hover:shadow-lg font-semibold px-6 py-3 "
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 2a4 4 0 00-4 4v1H5a1 1 0 00-.994.89l-1 9A1 1 0 004 18h12a1 1 0 00.994-1.11l-1-9A1 1 0 0015 7h-1V6a4 4 0 00-4-4zm2 5V6a2 2 0 10-4 0v1h4zm-6 3a1 1 0 112 0 1 1 0 01-2 0zm7-1a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd" />
        </svg>
        <span>Explorar Productos</span>
      </Link>
    </div>
  </div>
</section>

<style>
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-title {
    animation: fadeInUp 5s ease-out forwards;
    opacity: 0;
  }

  .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 100%;
    display: flex;
    animation: slide 20s infinite;
  }

  .slider:hover {
    animation-play-state: paused;
  }

  .slide {
    width: 33.33%;
    height: 100%;
    object-fit: cover;
  }

  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    33% {
      transform: translateX(-33.33%);
    }
    66% {
      transform: translateX(-66.66%);
    }
    100% {
      transform: translateX(0);
    }
  }
</style>

<script>
  document.addEventListener('astro:page-load', () => {
    const slider = document.getElementById('slider');
    let currentSlide = 0;
    const totalSlides = 3;
    let autoSlideInterval: NodeJS.Timeout | null = null;

    function nextSlide() {
      currentSlide = (currentSlide + 1) % totalSlides;
      if (slider instanceof HTMLElement) {
        slider.style.transition = 'transform 0.3s ease-out';
        slider.style.transform = `translateX(-${currentSlide * 33.33}%)`;
      }
    }

    function startAutoSlide() {
      autoSlideInterval = setInterval(nextSlide, 5000);
    }

    // Add a delay before starting the slider
    setTimeout(() => {
      startAutoSlide();
    }, 3000); // 3 seconds delay

    if (slider instanceof HTMLElement) {
      slider.addEventListener('mouseenter', () => {
        if (autoSlideInterval) {
          clearInterval(autoSlideInterval);
        }
      });

      slider.addEventListener('mouseleave', startAutoSlide);
    }
  });
</script>