---
import '@fontsource-variable/onest'
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <!--  <meta name='description' content=' Equipo de control y para la industria - PLCs Guadalajara" />-->
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <!-- <meta name='generator' content={Astro.generator} />-->
     <!-- Metadatos Open Graph -->
     <meta property="og:title" content="VIMA Automation" />
     <meta property="og:description" content="Soluciones de control y automatización industrial." />
     <meta property="og:image" content="./src/assets/index.jpg" />
     <meta property="og:url" content="https://vima-automation.store" />
     <meta property="og:type" content="website" />
         <!-- Metadatos para Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="VIMA Automation" />
    <meta name="twitter:description" content="Soluciones de control y automatización industrial." />
    <meta name="twitter:image" content="https://vima-automation.store" />

    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light;
  }
  html {
    font-family: system-ui, sans-serif;
  }
  body {
    /* background: #1f2937; */
    display: flex;
    flex-direction: column;
    /*justify-content: center; */
    min-height: 100vh;
    font-family: 'Onest Variable', sans-serif;
  }
</style>
